.head{
    margin: 50px 0;

}


.insp-quote{
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-color: #00A4BD;
    padding: 20px;
    margin: 30px 300px;
}

.quot{
    flex-Direction: column;
    background: linear-gradient(to right, #a2d3e9, #ffffff);
    display: flex;
}