.containerStyle  {
    margin: 50px 400px 20px 550px;
    padding: 20px 30px 20px 30px;
    max-width: 400px ;
    border-Radius: 8px ;
    box-Shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-Color: #ffffff;
}

.labelStyle  {

    display: block ;
    margin-Bottom: 10px ;
    font-Size: 16px ;
    text-align: left;


}

.inputStyle  {
    width: 100% ;
    padding: 8px ;
    margin-Top:5px ;
    border-Radius: 4px;
    border: 1px solid #ddd;
}

.buttonStyle  {
    margin-Top: 7px;
    font-Size: 16px;
    background-Color: #2c94cc;
    color: white;
    border: none;
    border-Radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin:0 130px ;

}
label{
    font-size: 20px;
}