.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 50px 20px 30px ;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.quiz-form {
    display: flex;
    flex-direction: column;
}

.quiz-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.quiz-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 200px;
}

.quiz-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-weight: bold;
}

.quiz-output {
    margin-top: 20px;
}

.quiz-list {
    list-style-type: none;
    padding: 0;
}

.quiz-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #e7f1ff;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}